{% extends 'user/base.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block content %}
    <h1>Indiquez votre adresse de livraison</h1>

    {{ include('livraison/_form.html.twig') }}

{% endblock %}
