{% extends 'admin/base.html.twig' %}

{% block title %}Production
{% endblock %}

{% block content %}
	<div class="container-fluid">
	<div class="container">
		<div class="container-fluid p-3  w-100 mx-auto bg-white border rounded">
		<h1 class="h3 mb-0 text-gray-800">Vidéos</h1>

			<p class="mb-2">Modifier ma vidéo</p>

		{{ form_start(form) }}

		{% if form.vars.value.preview is not empty %}
			{% set isValueExists = form.vars.value.preview is not empty %}
		{% else %}
			{% set isValueExists = false %}
		{% endif %}


		{# Si une valeur existe, affichez-la #}
		{% if isValueExists %}
			<p>Image de prévisualisation actuelle :
			</p>
			<img src="{{ asset('assets/uploads/' ~ form.vars.value.preview) }}" alt="image"/>
		{% endif %}

		{{ form_end(form) }}

	</div>
		</div>
	</div>
{% endblock %}
