{% extends 'admin/base.html.twig' %}

{% block title %}About
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="container">
		<div class="container-fluid p-3  w-100 mx-auto bg-white border rounded">
		<h1 class="h3 mb-0 text-gray-800">A propos</h1>

			<p class="mb-2">Créer ma catégorie</p>
		
            
           {{ form(form) }}
		</div>
		</div>
          
	</div>
{% endblock %}
