{% extends 'admin/base.html.twig' %}

{% block title %}Team
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="container">
		<div class="container-fluid p-3  w-100 mx-auto bg-white border rounded">
		<h1 class="h3 mb-0 text-gray-800">Mon Équipe</h1>


				<p class="mb-4">Ajouter un membre de votre team.</p>
		
            
           {{ form(form) }}
		</div>
		</div>
          
	</div>
{% endblock %}
