{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisations
{% endblock %}


{% block body %}
    <h1>Conditions d'utilisation</h1>

    <h2>CONDITIONS D’UTILISATION DE NOTRE BOUTIQUE EN LIGNE</h2>
    <p>En acceptant ces Conditions Générales de Vente et d’Utilisation, vous déclarez que vous avez atteint l’âge de la majorité dans votre pays, État ou province de résidence, et que vous nous avez donné votre consentement pour permettre à toute personne d’âge mineur à votre charge d’utiliser ce site web.</p>
    <p>L’utilisation de nos produits à toute fin illégale ou non autorisée est interdite, et vous ne devez pas non plus, dans le cadre de l’utilisation du Service, violer les lois de votre juridiction (incluant mais ne se limitant pas aux lois relatives aux droits d’auteur).</p>
    <p>Vous ne devez pas transmettre de vers, de virus ou tout autre code de nature destructive.</p>
    <p>Toute infraction ou violation des présentes Conditions Générales de Vente et d’Utilisation entraînera la résiliation immédiate de vos Services.</p>
{% endblock %}
