<header class="py-5 bg-image" style="background-image:url('{{ asset('uploads/6006864.jpg') }}'); background-size: cover; background-position: center top; opacity: 0.8;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Bienvenue dans notre site</h1>
            <p class="lead fw-normal mb-0">Trouvez vos accessoires chez Nkinel</p>
        </div>
    </div>
</header>
