{% extends 'admin/base.html.twig' %}

{% block title %}Production
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="container">
		<div class="container-fluid p-3  w-100 mx-auto bg-white border rounded">
		<h1 class="h3 mb-0 text-gray-800">Articles</h1>

			<p class="mb-2">Créer mon Article</p>
           {{ form_start(formArticle) }}
		   <div class ="row g-3">
		   
		   <div class="col-6">
		   {{form_row(formArticle.nom)}}
		   </div>

		   <div class="col-6">
		   {{form_row(formArticle.prix)}}
		   </div>


		   
			</div>
		{{ form_end(formArticle) }}
		</div>
		</div>
            

          
	</div>
{% endblock %}
