{# templates/user/commandes.html.twig #}

{% extends 'user/base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1>Mes Commandes</h1>
    {% if commandes|length > 0 %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Numéro de commande</th>
            <th>Date de commande</th>
            <th>Montant total</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          {% for commande in commandes %}
            <tr>
              <td>{{ commande.id }}</td>
              <td>{{ commande.date | date('d/m/Y H:i') }}</td>
              <td>{{ commande.total }} €</td>
              <td>{{ commande.etat }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Aucune commande trouvée.</p>
    {% endif %}
  </div>
{% endblock %}
